@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: lato;
}

/* :root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #39bdc9;
  --main-color-hover: #2d8b94;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(184, 180, 180, 0.7);
} */
:root {
  --bg-color: #fafafa; /* Very light grey for a clean, minimal background */
  --text-color: #1a1a1a; /* Almost black, for strong contrast and readability */
  --main-color: #00b894; /* Fresh mint green as the accent color */
  --main-color-hover: #00916e; /* Darker green for hover effects */
  --white-color: #ffffff; /* Pure white */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Light shadow for soft depth */
}

.dark-mode {
  --bg-color: #121212; /* Near black background for a sleek dark mode */
  --text-color: #eaeaea; /* Light grey for text */
  --main-color: #00b894; /* Consistent mint green accent */
  --main-color-hover: #00916e; /* Darker mint green for hover */
  --white-color: #f0f0f0; /* Light off-white for contrast */
  --shadow-color: rgba(255, 255, 255, 0.1); /* Soft white shadow in dark mode */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}
body,
html {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
  margin-left: 4rem;
}

.h-part {
  color: rgb(170, 19, 19);
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

.header.sticky .navbar a {
  color: var(--text-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.header.sticky .navbar a :active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

#darkMode {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

.header.sticky #darkMode {
  color: var(--text-color);
  opacity: 0.9;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5; /* Adjust the value as needed */
}

.home .home-content {
  max-width: 44rem;
  z-index: 2;
}

.home-content h1 {
  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.home-content h3 {
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.3;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transform: 0.5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2 solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: var(--main-color-hover);
  color: var(--white-color);
  border-color: var(--white-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 625px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%,
  20% {
    transform: rotate(0deg);
  }

  25%,
  45% {
    transform: rotate(-90deg);
  }

  50%,
  70% {
    transform: rotate(-180deg);
  }

  75%,
  95% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;

  background: var(--bg-color);

  padding: 13px;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home-img img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  pointer-events: none;
}

.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#typewriter {
  font-size: 3.5rem;
  margin: 1rem 0;
  font-weight: bold;
  color: var(--text-color);
  display: inline-block;
  border-right: 3px solid var(--main-color); /* Cursor effect */
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

span {
  color: var(--main-color);
}

.about-container {
  margin-top: 6rem;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem 10%;
}

.about-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #3498db;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
  transform: scale(1.5);
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 10px;
}
.about-content h4 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
.about-content .about-details {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  color: var(--text-color);
}

.about-details h4 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #222;
}

/* Skills Section */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 1.5rem 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list .skill {
  background: #3498db;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.skills-list .skill:hover {
  background: #2980b9;
}

/* Initially hide extra skills */
.hidden-skills {
  display: none;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Button Style */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* Experience Card Styles */

.services {
  min-height: auto;
  padding-bottom: 7rem;
  text-align: center;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.experience-card {
  background: var(--bg-color); /* Dark blue background */
  color: var(--text-color);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);

  transition: background 0.3s ease, transform 0.3s ease;
}
.experience-card:hover {
  background: var(--bg-color); /* Slightly lighter on hover */
  transform: translateY(-3px);
  opacity: 0.9;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.experience-duration {
  color: var(--text-color);
  font-size: 14px;
}

.experience-title {
  color: #4ca2ff;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.experience-place {
  margin: 1rem;
  color: #4ca2ff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: left;
  padding: 2rem 0;
}

.experience-title:hover {
  color: #72c3ff;
}

.external-link-icon {
  font-size: 14px;
  margin-left: 5px;
}

.experience-description {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
}

.experience-list {
  list-style: none;
  padding-left: 0;
}

.experience-list li {
  font-size: 1.5rem;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.experience-list li::before {
  content: "✔"; /* You can replace with any icon */
  color: var(--main-color);
  font-weight: bold;
}
.experience-skills {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-badge {
  background: rgba(0, 123, 255, 0.1);
  color: var(--text-color);
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.skill-badge:hover {
  background: rgba(255, 255, 255, 0.2);
}

.project {
  padding-bottom: 10rem;
}

.project h2 {
  margin-bottom: 4rem;
}

.project .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
}

.project-box {
  border-radius: 10px;
  overflow: hidden;
  background: var(--bg-color);
  border: 2px solid #007bff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.image-container {
  position: relative;
  height: 160px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.project-layers {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(54, 54, 54, 0.5); /* Slightly transparent background */
  backdrop-filter: blur(5px);
  color: var(--text-color);
  text-align: center;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container:hover .project-layers {
  top: 0;
}

.project-layers h4 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  color: #fff;
}

.project-layers .details {
  color: #fff;
  font-size: 1.4rem;
}
.project-links {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.project-links a {
  color: var(--text-color);
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}

.project-links a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.project-info {
  padding: 12px;
}

.project-info h4 {
  font-size: 1.7rem;
  font-weight: bold;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.skill {
  background: rgba(0, 123, 255, 0.1);
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  color: #007bff;
  border: 1px solid #007bff;
  font-weight: bold;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.thank-you-message {
  text-align: center;
  font-size: 3rem;
  color: var(--main-color);
}

.footer {
  background-color: var(--main-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--text-color);
}

.footer-social {
  margin-bottom: 15px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--text-color);
}

.footer-text {
  font-size: 0.9em;
  color: var(--white-color);
}
/*
.footer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    border: .2rem solid var(--text-color);
    outline: .2rem solid transparent;
    transform: .5s ease;
}

.footer .footer-text {

    font-size: 1.5rem;
    align-items: center;
}

.footer .footer-text p {}

.footer .footer-text p a {
    padding: 2rem;
    color: var(--white-color);
    transition: .5s ease;
}

.footer .footer-text p a:hover {
    transform: scale(1.1);
    opacity: 10;
}*/

/* BREAKPOINTS*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home .profession-container {
    height: 85.8rem;
  }

  .home .profession-container .profession-box {
    right: -12rem;
    height: 85.8rem;
  }

  .home .profession-container .overlay {
    right: -9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .home .profession-container .profession-box {
    right: -22rem;
  }

  .home .profession-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 991px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }

  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7rem;
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profession-container .profession-box {
    right: -45rem;
  }

  .home .profession-container .overlay {
    right: -39.5rem;
  }

  .home-img img {
    display: none;
  }

  .services,
  .project {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #darkMode {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }

  .navbar a.active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content .social-media a {
    margin: 2.5rem 0.75rem 3rem;
  }

  .home .profession-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 60%;
    left: 0;
    border-radius: 0;
    width: 100%;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0px, -335px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-img img {
    width: 70vw;
    margin-top: -2rem;
  }
  .skills-container .skills-list,
  .hidden-skills {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services h2,
  .project h2 {
    margin-bottom: 3rem;
  }

  .project .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .project .project-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #darkMode {
    right: 6rem;
  }

  .home {
    padding: 0 3% 30rem;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-110px, -220px);
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(5px, -335px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-105px, -440px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-210px, -335px);
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 375px) {
  main {
    padding: 10px;
  }
  .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
